:root {
  --background: rgb(14, 12, 19);
  --background-lighter: rgba(20, 17, 27, 0.9);
  --border: rgba(0, 0, 0, 0.5);
  --button: rgba(0, 0, 0, 0.8);
  --button-hover: rgba(0, 0, 0, 0.4);
  --button-active: rgba(0, 0, 0, 0.95);
  --button-disabled: rgba(0, 0, 0, 0.2);
  --text: rgb(255, 224, 167);
  --text-deemphasize: rgba(212, 135, 72, 0.5);
  --text-info: rgba(255, 224, 167, 0.5);
  --warning: rgb(230, 118, 32);
}

button:disabled {
  border: 1px solid var(--text-info);
}

#theme-image {
  background-image: url("../images/cobweb.png");
  background-size: cover;
  opacity: 0.1;
  filter: blur(2px);
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  height: 45%;
  position: absolute;
  left: -200px;
  bottom: 0;
  z-index: -10;
}

#game {
  z-index: 10;
}

.puzzle-char {
  display: inline-block;
  font-weight: bold;
  color: var(--warning);
  background-color: var(--background-lighter);
  padding: 0.5rem;
  margin: 0.25rem;
}

.section {
  background-color: var(--background-lighter);
}

@media screen and (max-width: 400px) {
  #cobweb {
    left: -120px;
    bottom: -10px;
  }
}
